* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* BODY */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
}

/* SECTIONS NORMES */
.section {
    padding: 80px 0;
    height: 100vh;
}

/* STYLES NORMES */
h1 {
    font-size: 40px;
    font-weight: 900;
    color: rgb(56, 56, 56);
    margin-bottom: 10px;
}

h2 {
    font-size: 2rem;
    font-weight: 600px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #000000ab;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* LOGO */
.logo-container {
    position: absolute;
    top: 10px;
    left: 150px;
    z-index: 999;
    background-color: transparent;
    padding: 10px 30px;
}

.logo-container h1 {
    color: white;
    font-size: 35px;
    margin: 0;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px 150px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 100px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 5px;
    letter-spacing: 1px;
    transition: color 0.5s ease;
}

.nav-links a:hover {
    color: rgba(255, 255, 255, 0.671);
}

/* SOCIALES */
.social-container {
    position: fixed;
    top: 43px;
    right: calc(20% + 0px);
    transform: translateX(100%);
    text-decoration: none;
}

.social-container li {
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
}

.social-container a {
    text-decoration: none;
    color: #fff;
    transition: color 0.5s ease;
}

.social-container a:hover {
    color: rgba(255, 255, 255, 0.671);
}

/* HOME */ 
/* section */
#home.section {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

/* containeur */
.container-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 925px;
    margin: 0 auto;
    padding: 32px;
}

/* containeur gauche et droite */
.left-container-home,
.right-container-home {
    width: 100%;
}

.left-container-home {
    padding-right: 50px;
    margin-right: -20px;
}

.right-container-home {
    padding-left: 0px;
    margin-left: auto;
}

.right-container-home img {
    width: 110%;
    max-width: 110%;
    height: 600px;
}

/* EMAIL */
.email-form {
    position: relative;
    display: flex;
    align-items: center;
}

.email-container {
    position: relative;
    display: inline-block;
}

input[type="email"] {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 30px 30px 30px 30px;
    padding-right: 100px;
    width: 135%;
    height: 55px;
}

.email-form button {
    padding: 10px 20px;
    background-color: #1294b8;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    height: 80%;
    width: 45%;
    transform: translateX(194%);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1294b8c4;
}

/* FEATURES */
/* container */
.container-features {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#features.section {
    background: white;
}

#features.section h1 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.section p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgba(0, 0, 0, 0.425);
}
.container-features p {
    color: white;
    margin-bottom: 20px;
    margin-top: 15px;
}

/* hover */
.container-features .left-container-features:hover,
.container-features .middle-container-features:hover,
.container-features .right-container-features:hover {
    transform: translateY(-15px);
    transition: transform 0.5s ease;
}

/* transition */
.container-features .left-container-features,
.container-features .middle-container-features,
.container-features .right-container-features {
    transition: transform 0.3s ease;
}

/* containeur gauche */
.left-container-features {
    color: white;
    position: relative;
    width: 370px;
    height: 360px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
}

/* icons */
.left-container-features .fa-sharp {
    color: white;
    font-size: 3.2em;
}

/* espacement hauteur */
.fa-solid {
    margin-bottom: 35px;
    margin-top: 40px;
}

/* container millieu */
.middle-container-features {
    color: white;
    position: relative;
    width: 370px;
    height: 360px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
}

.middle-container-features .fa-sharp {
    color: white;
    font-size: 3.2em;
}

.middle-container-features p {
    color: white;
}

/* container droit */
.right-container-features {
    color: white;
    position: relative;
    width: 370px;
    height: 360px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
}

.right-container-features .fa-solid {
    color: white;
    font-size: 3.2em;
}

.right-container-features p {
    color: white;
}

.container-features p {
    font-size: 1em;
}

/* TEAM */
#team.section{
    background: white;
}

.team-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
}
.team-title h1{
    text-align: center;
}
.team-title p{
    max-width: 650px;
    text-align: center;
}

.container-team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.picture-container{
    position: relative;
    width: 215px;
    height: 215px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 50px;
}

.member-picture{
    width: 250px;
    height: 250px;
    filter: grayscale(1);
    transition: 1s;
}

.team-member{
    margin: 50px;
}

/* subscribe */
.subscribe-number{
    text-align: center;
    font-size: 30px;
}
.team-member .subscribe-number{
    color:black;
    font-weight:bolder;
}

/* description */
.member-description{
    margin-bottom: 40px;
}
.team-member .member-description{
    margin-top:-20px;
}

.name-member{
    text-align: center;
}
.team-member .name-member{
    color:black;
    font-weight:bolder;
    margin-bottom:10px;
}

.job-member{
    text-align: center;
    color:rgb(167, 167, 167);
    margin-bottom: 60px;
}

/* icons */
.team-icons{
    flex-direction: column;
    position: absolute;
    top: -12%;
    left: -26%;
    transition: all 1s ease-out;
}

.team-icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:white;
    margin: 7px;
    font-size: 20px;
    color: black;
}

/*hover icons*/
.picture-container:hover .team-icons{
    transform: translateY(75px) translateX(70px);
    transition: 0.5s;
}

/* hover couleur */
.picture-container:hover .member-picture{
    filter: grayscale(0);
    transition: 0.8s;
    transform:scale(1.10)
}


/* PARALLAX */ 
.parallax {
    height: 60vh;
    background-image: url(./img/parallax.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-parallax{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 22, 22, 0.582);
}

.parallax-title {
    color: white;
}

.parallax-text {
    color: rgba(255, 255, 255, 0.733);
    max-width: 1050px;
    text-align: center;
}

.parallax-button {
    width: 200px;
    height: 55px;
    margin: 20px;
    border-radius: 10px;
    border: 2.1px solid white;
    color: white;
    background: none;
    font-size: 18px;
    transition: 0.6s;
}

.parallax-button a {
    text-decoration: none;
    color:white;
}

.parallax-button:hover {
    background-color: rgba(255, 255, 255, 0.356);
}

/* BLOG */
#blog.section{
    background:white;
}

.blog-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    margin-top:100px;
}

.blog-title p{
    max-width: 550px;
    text-align: center;
}

/* Title */
.blog-title h1{
    text-align:center;
}

/* Container */
.blog-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* Description */
.blog-description{
    position: absolute;
    color:white;
    top : 8px;
    left: 8px;
    transition: 0.4s;
    visibility: hidden;
}

/* Cards */
.blog-cards{
    width: 330px;
    height: auto;
    margin:5px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
}

/* hover */
.blog-image{
    width: 320px;
    height: auto;
    transition: 1.1s;
    display:flex;
    border-radius: 10px;
}

.image-hover{
    position: relative;
}

.blog-image:hover{
    transition: 0.4s;
    filter: brightness(65%);
}

.blog-picture:hover .blog-description{
    transition: 2s;
    visibility: visible;
}


/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }
    .left-container-home,
    .right-container-home {
        width: 100%;
        margin-bottom: 20px;
    }
    .navbar {
        flex-wrap: wrap;
        padding: 20px;
    }
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links li {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1700px) {
    .logo-container {
        position: absolute;
        top: 10px;
        left: -15px;
        right: 0px;
    }
    .social-container {
        position: absolute;
        top: 40px;
        left: 0px;
        right: 135px;
    }
}

@media screen and (max-width: 1300px) {
    .logo-container {
        position: absolute;
        top: 10px;
        left: -15px;
        right: 0px;
    }
    .social-container {
        position: absolute;
        top: 40px;
        left: 0px;
        right: 135px;
    }
}

@media screen and (max-width: 480px) {
    .logo-container {
        top: 5px;
        right: 5px;
        padding: 10px;
    }
    .logo-container h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .social-container {
        position: static;
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .social-container li {
        margin-right: 5px;
    }
}