* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
}


/* CONTAINEURS HOME */

.container-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 925px;
    margin: 0 auto;
    padding: 32px;
}


/* CONTAINEUR FEATURES */

.container-features {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#features.section {
    background: white;
}

#features.section h1 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.section p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgba(0, 0, 0, 0.425);
}

#team.section h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* HOVER CONTAINERS FEATURES */

.container-features .left-container-features:hover,
.container-features .middle-container-features:hover,
.container-features .right-container-features:hover {
    transform: translateY(-15px);
    transition: transform 0.5s ease;
}


/* TRANSITION CONTAINERS FEATURES */

.container-features .left-container-features,
.container-features .middle-container-features,
.container-features .right-container-features {
    transition: transform 0.3s ease;
}


/* LEFT-CONTAINER FEATURES */

.left-container-features {
    color: white;
    position: relative;
    width: 370px;
    height: 360px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
}

.left-container-features .fa-sharp {
    color: white;
    font-size: 3.2em;
}

.container-features p {
    color: white;
    margin-bottom: 20px;
    margin-top: 15px;
}


/* MIDDLE-CONTAINER FEATURES */

.middle-container-features {
    color: white;
    position: relative;
    width: 370px;
    height: 360px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
}

.middle-container-features .fa-sharp {
    color: white;
    font-size: 3.2em;
}

.middle-container-features p {
    color: white;
}


/* RIGHT-CONTAINER FEATURES */

.right-container-features {
    color: white;
    position: relative;
    width: 370px;
    height: 360px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
}

.right-container-features .fa-solid {
    color: white;
    font-size: 3.2em;
}

.right-container-features p {
    color: white;
}

.container-features p {
    font-size: 1em;
}


/* ICONES FEATURES MARGIN BOTTOM */

.fa-solid {
    margin-bottom: 35px;
    margin-top: 40px;
}


/* Logo */

.logo-container {
    position: absolute;
    top: 10px;
    left: 150px;
    z-index: 999;
    background-color: transparent;
    padding: 10px 30px;
}

.logo-container h1 {
    color: white;
    font-size: 35px;
    margin: 0;
}


/* Sections */

.section {
    padding: 80px 0;
    height: 100vh;
}


/* Section d'accueil */

#home {
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}


/* Navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px 150px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 100px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 5px;
    letter-spacing: 1px;
    transition: color 0.5s ease;
}

.nav-links a:hover {
    color: rgba(255, 255, 255, 0.671);
}


/* Conteneurs gauche et droite */

.left-container-home,
.right-container-home {
    width: 100%;
}

.left-container-home {
    padding-right: 50px;
    margin-right: -20px;
}

.right-container-home {
    padding-left: 0px;
    margin-left: auto;
}

.right-container-home img {
    width: 110%;
    max-width: 110%;
    height: 600px;
}


/* TEAM */

.container-team {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.team-member {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    margin-top: 200px;
}

.team-member:last-child {
    margin-right: 0;
}

.team-member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-team .team-member img {
    filter: grayscale(100%);
    transition: filter 1s;
}

.container-team .team-member img:hover {
    filter: grayscale(0%);
}


/* Sociales */

.social-container {
    position: fixed;
    top: 43px;
    right: calc(20% + 0px);
    transform: translateX(100%);
    text-decoration: none;
}

.social-container li {
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
}

.social-container a {
    text-decoration: none;
    color: #fff;
    transition: color 0.5s ease;
}

.social-container a:hover {
    color: rgba(255, 255, 255, 0.671);
}


/* Styles */

h1 {
    font-size: 40px;
    font-weight: 900;
    color: rgb(56, 56, 56);
    margin-bottom: 10px;
}

h2 {
    font-size: 2rem;
    font-weight: 600px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #000000ab;
    margin-bottom: 20px;
    margin-top: 10px;
}

.email-form {
    position: relative;
    display: flex;
    align-items: center;
}

.email-container {
    position: relative;
    display: inline-block;
}

input[type="email"] {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 30px 30px 30px 30px;
    padding-right: 100px;
    width: 135%;
    height: 55px;
}

button {
    padding: 10px 20px;
    background-color: #1294b8;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    height: 80%;
    width: 45%;
    transform: translateX(194%);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1294b8c4;
}


/* Media queries */

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }
    .left-container-home,
    .right-container-home {
        width: 100%;
        margin-bottom: 20px;
    }
    .navbar {
        flex-wrap: wrap;
        padding: 20px;
    }
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links li {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1700px) {
    .logo-container {
        position: absolute;
        top: 10px;
        left: -15px;
        right: 0px;
    }
    .social-container {
        position: absolute;
        top: 40px;
        left: 0px;
        right: 135px;
    }
}

@media screen and (max-width: 1300px) {
    .logo-container {
        position: absolute;
        top: 10px;
        left: -15px;
        right: 0px;
    }
    .social-container {
        position: absolute;
        top: 40px;
        left: 0px;
        right: 135px;
    }
}

@media screen and (max-width: 480px) {
    .logo-container {
        top: 5px;
        right: 5px;
        padding: 10px;
    }
    .logo-container h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .social-container {
        position: static;
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .social-container li {
        margin-right: 5px;
    }
}